<h1>Book Note</h1>

<form action="/add" method="post">
    <input type="text" name="bookTitle" placeholder="Book Title">
    <input type="text" name="bookRate" placeholder="Rate">
    <input type="submit" value="add">
</form>

<p>
    <h2>Reviews</h2>
    <% if(locals.reviews) { 
        reviews.forEach((review) => { %>
            <p>
                <lable>Title: <%= review.book_title%></lable>
                <label>Rate: <%= review.rate%></label>
                <img src="<%= review.cover_url%>">
            </p>
        <% }) 
    } %>
</p>