.review-template {
    display: grid;
    grid-template-columns: 150px 300px;
    grid-template-rows: 200px;

    margin: 10px;
}

.book-cover {
    grid-column: 1;
    grid-row: 1;
}

.review-details {
    grid-column: 2;
    grid-row: 1;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.review-form {
    width: 300px;
    display: grid;
    grid-template-columns: auto 100px;
    grid-template-rows: auto 100px auto;
}

